body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.homeRow {
  margin-bottom: 5%;
  margin-top: 5%;
}

/* add min height to card text to force the cards to be the same height */
.card-text {
  min-height: 9vh;
}



.card-img-top {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}



.card {
  margin-bottom: 10%;
}

#profilepic {
  border-radius: 50%;
}



#aboutText{
  margin-top: 5rem;
}

.linkContainer {
  margin-top: 20%;
}

#titleh1 {
  margin-top: 3%;
  margin-bottom: 3%;
}


#mnisthead{
  margin-top: 4rem;
}

#mnistbuttons{
  margin-left: 41%;
}

#mnistpred{
  margin-top: 2%;
}

tr {
  height: 10px;
}

td {
  width: 10px;
}

table {
  border-collapse: collapse;
  margin: 40px auto;
}

